h1{
    text-align: center;
}

.homeButton {
    width: 100px;
    height: 100px;
    background-color: rgba(0,0,0,0);
    border: none;
    float: left;
}

.homeLogoImage {
    margin: auto -5px;
    height: 135%;
    width: 110%;
    object-fit: cover;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vh;
}

.recipeCard {
    position: relative;
}

.recipeCard a::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recipeHeaderCard {
    padding: 20px;
}

.card-title {
    font-weight: bold;
}

.recipeDetailTitle {
  text-align: center;
}

#recipeOverviewHeader {
    text-align: center;
}

.recipeIngredientWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

div.ingredientWindow {
    overflow-y: scroll;
    float: left;
    padding: 10px;
    border: 1px solid #000;
    width: 30vh;
    max-height: 50vh;
}

div.recipeWindow {
    overflow-x: hidden;
    overflow-y: auto;
    float: right;
    padding: 10px;
    border: 1px solid #000;
    width: 60vh;
    max-height: 50vh;
    white-space: pre-wrap;
}

div.recipeName {
    text-align: center;
}

.recipeTimeServingsImageWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

div.recipePreparationTime {
    float: left;
    padding: 10px;
    border: 1px solid #000;
    width: 30vh;
    max-height: 50vh;
}

div.recipeServings {
    float: left;
    padding: 10px;
    border: 1px solid #000;
    width: 30vh;
    max-height: 50vh;
}

div.recipeImage {
    float: left;
    padding: 10px;
    border: 1px solid #000;
    width: 30vh;
    max-height: 50vh;
}
