body {
    font-family: Verdana, Arial, sans-serif;
    background-color: #AFC8AD;
    cursor: url(https://cur.cursors-4u.net/food/foo-7/foo620.cur), default;
}

a {
    cursor: url(https://cur.cursors-4u.net/food/foo-7/foo620.cur), default;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: #F2F1EB;
}


.homeButton {
    width: 100px;
    height: 100px;
    background-color: rgba(0,0,0,0);
    border: none;
    float: left;
}

.homeLogoImage {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: #88AB8E;
}

.justify-content-center {
    align-content: center;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    color: darkslategray;
}

.nav-link:visited {
    color: darkslategray;
}

.recipeCard {
    position: relative;
    width: 23rem;
    height: 14rem;
    padding: 2px;
}

.recipeCard a::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.card-img-top {
    object-fit: cover;
    overflow: hidden;
    max-height: 100%;
    min-height: 100%;
}
.card {
    height: 100%;
}

.cardImageDiv {
    width: 100%;
    overflow: hidden;
    height: 80%;
}

.recipeHeaderCard {
    padding: 20px;
}

.recipeHeaderCard {
    position: relative;
    width: 23rem;
    height: 14rem;
    padding: 2px;
}
.card-title {
    font-weight: bold;
}

.recipeDetailTitle {
  text-align: center;
}

#recipeOverviewHeader {
    text-align: center;
}

.recipeIngredientWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

div.ingredientWindow {
    overflow-y: scroll;
    float: left;
    padding: 10px;
    border: 1px solid #000;
    width: 30vh;
    max-height: 50vh;
}

div.recipeWindow {
    overflow-x: hidden;
    overflow-y: auto;
    float: right;
    padding: 10px;
    border: 1px solid #000;
    width: 60vh;
    max-height: 50vh;
    white-space: pre-wrap;
}

/*recipeForm css*/
.recipeDetailPageTop {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 20px;
}

.recipeFormLabel {
    padding-right: 10px;
}

.recipeFormDivTop {
    margin: 0 auto;
    padding-right: 10px;
}

#recipeNameField {
    width: 300px;
}

#recipeServingsField {
    width: 30px;
}

#recipePreparationTimeField {
    width: 50px;
}

.recipeFormDivTop {
    height: 2rem;
    padding: 5px;
}

.recipeLabelAndInputTop {
    text-align: center;
}

.recipeLabelAndInputBottom {
    text-align: center;
}

#ingredientField {
    width: 300px;
}

#prepMethodWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.recipeDetailPageMiddle {
    display: flex;
    flex-direction: row;
}

.recipeLabelAndInputMiddle {
    padding-right: 10px;
}

.recipeDynamicallyAddedPrepInput {
    padding-bottom: 3px;
}

#prepMethodStepsDiv {
    padding-bottom: 10px;
}


#recipeRemoveButton {
        transform: translateY(-100%);
        padding-left: 3px;
}