<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/general :: baseHeader(~{:: title})}">
    <title th:text="${category.categoryName}"></title>
</head>
<body>

<div th:replace="~{fragments/general :: navbar}"></div>

<h2 th:text="${category.categoryName}"></h2>

<div class="d-flex flex-wrap">
    <div th:each="recipe : ${category.getRecipes()}">
        <div th:replace="~{fragments/cardTemplate :: cardFragment(${recipe})}"></div>
    </div>
</div>


<div th:replace="~{fragments/general :: footer}"></div>
<div th:replace="~{fragments/general :: bottomScripts}"></div>

</body>
</html>