<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/general :: baseHeader(~{:: title})}">
    <title>Ctrl Alt Eat</title>
</head>
<body>

<div th:replace="~{fragments/general :: navbar}"></div>

<div class="container">
    <h1>Ctrl Alt Eat</h1>
    <h3>Some Categories</h3>
    <div class="d-flex flex-wrap">
        <div th:each="category : ${categoriesSubSet}">
            <div th:replace="~{fragments/cardTemplate :: cardCategory(${category})}"></div>
        </div>
    </div>

    <h3>Some Recipes</h3>
    <div class="d-flex flex-wrap">
        <div th:each="recipe : ${recipesSubSet}">
            <div th:replace="~{fragments/cardTemplate :: cardFragment(${recipe})}"></div>
        </div>
    </div>

</div>

<div th:replace="~{fragments/general :: footer}"></div>
<div th:replace="~{fragments/general :: bottomScripts}"></div>

</body>
</html>