<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/general :: baseHeader(~{:: title})}">
    <title>Details of recipe</title>

</head>
<body>

<div th:replace="~{fragments/general :: navbar}"></div>

<div class="container">
    <h1 class="recipeDetailTitle" th:text="${recipeToBeShown.recipeName}"></h1>
    <div style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
        <div th:replace="~{fragments/cardTemplate :: cardRecipeHeader(${recipeToBeShown})}"></div>
    </div>

    <div class="recipeIngredientWrapper" style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
        <div class="scrollable">
            <div class="ingredientWindow"> Ingredients
                <ul>
                    <li th:each="ingredient : ${recipeToBeShown.getIngredients()}" th:text="${ingredient}"></li>
                </ul>
            </div>
            <div class="recipeWindow" th:text="${recipeToBeShown.buildRecipePreparationMethodString()}"></div>
        </div>
    </div>

    <div th:each="category : ${recipeToBeShown.categories}" th:text="${category}"></div>

</div>

<div th:replace="~{fragments/general :: footer}"></div>
<div th:replace="~{fragments/general :: bottomScripts}"></div>

</body>
</html>