<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/general :: baseHeader(~{:: title})}">
    <title>Details of recipe</title>

</head>
<body>

<div th:replace="~{fragments/general :: navbar}"></div>

<div class="container">
    <div id="recipeDetailDiv">
        <div id="titleDownloadButtonWrapper">
            <h1 class="recipeDetailTitle" th:text="${recipeToBeShown.recipeName}"></h1>
            <a th:href="@{/recipe/detail/{recipeId}/pdf(recipeId=${recipeToBeShown.recipeId})}" download class="btn btn-outline-secondary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">-->
                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
                </svg>
            </a>

        </div>
        <div style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
            <div th:replace="~{fragments/cardTemplate :: cardRecipeHeader(${recipeToBeShown})}"></div>
        </div>

        <div id="recipeInformationContainer">
            <div class="recipeInformationDiv" id="RecipeInformationServings" th:text="${recipeToBeShown.servings} + ' servings'"></div>
            <div class="recipeInformationDiv" id="RecipeInformationTime" th:text="${recipeToBeShown.preparationTimeInMinutes} + ' minutes'"></div>
        </div>

        <div class="recipeIngredientWrapper" style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
            <div id="recipeIngredientHeightWrapper">
                <div class="scrollable">
                    <div class="ingredientWindow"> Ingredients
                        <ul>
                            <li th:each="ingredient : ${recipeToBeShown.getIngredients()}" th:text="${ingredient}"></li>
                        </ul>
                    </div>
                    <div class="recipeWindow" th:text="${recipeToBeShown.buildRecipePreparationMethodString()}"></div>
                </div>
            </div>
        </div>
        <div id="categoryButtonsDiv">
            <div id="categoryButtonDiv" th:each="category : ${recipeToBeShown.categories}">
                <a th:href="@{/category/{categoryId}(categoryId=${category.categoryName})}" class="btn btn-outline-info btn-sm" th:text="${category}"></a>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/general :: footer}"></div>
<div th:replace="~{fragments/general :: bottomScripts}"></div>

</body>
</html>