<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:fragment="baseHeader(title)">
    <meta charset="UTF-8">
    <title th:text="${title}">Default Title</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="/ctrlalteat.css">
</head>
<body>

<div th:replace="~{fragments/general :: navbar}"></div>

<div class="container">
    <h1 id="recipeOverviewHeader">Search Results</h1>
            <div class="d-flex flex-wrap">
                <div th:each="recipe : ${recipeList}">
                    <div th:replace="~{fragments/cardTemplate :: cardFragment(${recipe})}"></div>
                </div>
            </div>
        </div>

<div th:fragment="footer">
    <footer><p class="text-center text-muted">Many-2-One CtrlAltEat</p></footer>
</div>

<div th:fragment="bottomScripts"></div>

</body>
</html>