<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:fragment="baseHeader(title)">
    <meta charset="UTF-8">
    <title th:replace="${title}"></title>
</head>
<body>


<div th:fragment="cardFragment(recipe)">
    <div class="recipeCard">
        <div class="card text-center">
            <h5 class="card-title" th:text="${recipe.recipeName}"></h5>
            <div class="cardImageDiv">
                <img th:src="@{'/recipe/image/' + ${recipe.recipeId}}" class="card-img-top rounded-0" alt="">
            </div>
            <a th:href="@{/recipe/detail/{recipeId}(recipeId=${recipe.recipeId})}"></a>
            <table>
                <tr>
                    <td>Preparation time in minutes:</td>
                    <td class="card-text" th:text="${recipe.preparationTimeInMinutes}"></td>
                    <td>Servings:</td>
                    <td class="card-text" th:text="${recipe.servings}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div th:fragment="cardRecipeHeader(recipe)">
    <div class="recipeHeaderCard">
        <div class="card text-center">
            <img th:src="@{'/recipe/image/' + ${recipe.recipeId}}" class="card-img-top rounded-0" alt="">
        </div>
    </div>
</div>


<div th:fragment="cardCategory(category)">
    <div class="recipeCard">
        <div class="card text-center">
            <h5 class="card-title" th:text="${category.categoryName}"></h5>
            <a th:href="@{/category/{categoryId}(categoryId=${category.categoryName})}"></a>
        </div>
    </div>
</div>


</body>
</html>